.git
.gitignore
.vscode
.claude
_docs
*.md
LICENSE
opencode.json

backend/.venv
backend/.mypy_cache
backend/.pytest_cache
backend/.ruff_cache
backend/**/__pycache__
backend/tests

frontend/.DS_Store
frontend/.thumbnail
